APP_PORT=
DB_TYPE=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
ACCESS_SECRET=
REFRESH_SECRET=
ACTIVATE_SECRET=
RECOVERY_SECRET=
ACCESS_EXPIRES_IN=
REFRESH_EXPIRES_IN=
ACTIVATE_EXPIRES_IN=
RECOVERY_EXPIRES_IN=
SMTP_USER=
SMTP_PASSWORD=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=