.activation{
    border: 2px black solid;
    font-weight: 600;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
}

.activation-link{
    border: 2px black solid;
    border-radius: 15px;
    padding: 10px;
}
