<!-- Header Section -->
<tr>
    <td class="mobile-padding" style="padding: 44px 42px 0 42px;">
        <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0">
<!--            <tr>-->
<!--                <td align="left">-->
<!--                    <img src="/backend/src/assets/logo.png" width="42" height="42" alt="Logo" style="width: 42px; height: 42px;">-->
<!--                </td>-->
<!--            </tr>-->
            <tr><td height="42" style="font-size: 1px; line-height: 42px;">&nbsp;</td></tr>
        </table>
    </td>
</tr>