.forgot-password-form{
    border: 2px black solid;
    border-radius: 20px;
    font-weight: 600;
}
.forgot-password-form input {
    background: white;
    border-radius: 5px;
    border: 2px solid;
    height: 40px;
    padding-left: 8px;
    width: 100%;
}
.forgot-password-btn{
    border: 2px black solid;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}
